.mode-graph-container {
  display: flex;
  min-height: 120px;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: .25rem;
}

wp-mode-graph {
  cursor: pointer;
  max-height: 100px;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.panel-disabled {
  wp-mode-graph {
    cursor: not-allowed;
  }
}

.mode-graph {
  $base: &;

  &__side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__total-time {
    flex: 1 0 100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    min-height: 25px;
    margin: 5px 0;
  }

  &__btns-wp {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    flex: 0 0 45px;
  }

  &__mac-edit-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mac-edit-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    &[readonly] {
      background-color: inherit;
      border-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  &__cancel-btn-wrap {
    min-width: 40px;
  }

}

.mode-panel {
  &__state {
    font-size: 1.05rem;
    font-weight: 500;
  }
}
